.submission-form {
	user-select: none;

	input[type="text"], input[type="number"] {
		width: calc(50% - 2em);
	}

	&.mobile {
		width: 100vw;
		box-sizing: border-box;

		& > .scheme-form {
			display: flex;
			justify-content: space-between;
		}

		& > div {
			padding: 0.5em;
		}

		button {
			width: calc(100% - 1em);
			margin: 0 0.5em;
		}
	}

	&:not(.mobile) {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(1fr, 3);
		grid-template-rows: repeat(1fr, 3);
		width: 100%;

		& > div {
			grid-row: 2;
		}

		& > .submission-form-title {
			grid-column: 1/4;
			grid-row: 1;
		}

		& > .scheme-form {
			grid-row: 2/4;
		}

		& > .form-submit-button {
			grid-column: 3;
			width: 25%;
			margin-left: 75%;
			cursor: pointer;
		}
	}
}