.submission-form {
	user-select: none;

	& > .submission-form-title {
		text-align: center;
		background-color: #eef9;
	}

	&.mobile {
		width: 100vw;

		& > .scheme-form {
			display: flex;
			justify-content: space-between;
			padding: 1em;
		}

		& > div {
			padding: 1em;
		}

		input[type="text"], input[type="number"] {
			width: calc(50% - 1.5em);
		}

		button {
			width: calc(100% - 2em);
			padding: 1em 0;
			margin: 0 1em;
		}
	}

	&:not(.mobile) {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(1fr, 3);
		grid-template-rows: repeat(1fr, 3);

		& > div {
			grid-row: 2;
		}

		& > .submission-form-title {
			grid-column: 1/4;
			grid-row: 1;
		}

		& > .scheme-form {
			grid-row: 2/4;
		}

		& > .form-submit-button {
			grid-column: 3;
			width: 25%;
			margin-left: 75%;
			cursor: pointer;
		}
	}
}