.proxy-list {
	.proxy-list-line {
		display: flex;
		padding: 0.25em 0;

		&:first-child {
			background-color: #eef9;
		}
	}

	#pagination {
		display: flex;
		justify-content: center;
		gap: 0.5em;

		button {
			border: none;
			padding: 0.5em;
		}
	}

	&.mobile {
		width: 100vw;

		.proxy-list-line div {
			width: 25%;
		}

		.proxy-list-line div:first-child {
			width: 50%;
		}
	}

	&:not(.mobile) {
		min-width: 40em;

		.proxy-list-line div {
			width: 20%;
		}

		#pagination button:not([disabled]) {
			cursor: pointer;
		}
	}
}